<configuration>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>

        <!-- Disable CONDITIONS EVALUATION REPORT -->
        <logger name="org.springframework.boot.autoconfigure.condition.ConditionEvaluationReportLoggingListener"
                level="OFF"/>

        <!-- Other logger configurations -->
        <logger name="com.example.yourpackage" level="DEBUG"/>

        <!-- Console appender configuration -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
